<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/login.css' />
  </head>
  <body>
    <!-- 头部 -->
    	<div class = "header">
			<a href="http://www.maoyan.com" class = "site_logo">猫眼电影</a>
    	</div>
    <!-- 主体 -->
    	<div class = "site_body">
			<div class = "site_content">
				<div class = "banner">
					<img src="/images/s0.meituan.net2.png" alt=""  width="480" height="370">
				</div>
				<div class = "login_section">
					<form action="" method="post">
						<div class = "validate_info"><i></i><em>账号或密码错误，请重新输入，建议使用手机号短信验证码登录</em></div>
						<span class = "login_type"><a href="">手机动态码登录<i></i></a>账号登录</span>
						<div class="field user">
							<i class = "icon"></i>
							<input id="login-phone" class="f_text phone" name="email" placeholder="手机号/用户名/邮箱" value="" type="text">
						</div>
						<div class="field password">
							<i class = "icon"></i>
							<input id="login-password" class="f_text pwd" name="email" placeholder="密码" value="" type="password">
						</div>
						<div class = ""></div>
						<div class = "login">
							<a class = "login_btn">登录</a>
						</div>
						<p class="signup_guide">
							还没有账号？<a href="
							" target="_top">免费注册</a>
						</p>
					</form>
				</div>
			</div>
    	</div>
  	<!-- 尾部 -->
  		<div class="footer">
		    <div class="copyright">
		        <p>
		            ©<span>2017</span>
		            <a href="http://meituan.com/">美团网团购</a>
		            meituan.com
		            <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP证070791号</a>
		            京公网安备11010502025545号<a href="http://meituan.com/about/rules" target="_blank"> 电子公告服务规则</a>
		        </p>
		    </div>
		</div>
  </body>
  <script src = "/js/jquery-1.10.1.min.js"></script>
  <script src = "/js/login.js"></script>
</html>